Language: Cpp
BasedOnStyle: Microsoft
ColumnLimit: 80

AlignConsecutiveAssignments: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  BeforeCatch: true
  BeforeElse: true

AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

BinPackParameters: false
BinPackArguments: false